@media screen and (min-width: 1200px) {
    .detaillist {
        margin: 50px;
    }
}
@media screen and (min-width: 900px) {
    .detaillist {
        margin: 50px;
    }
}
@media screen and (min-width: 600px) {
    .detaillist {
        margin: 20px;
    }
}